.rightPanel {
/*	background-color: red;*/
}

.root {
/*	background-color: green;*/
}

body {
	margin-top: 0;
	padding-top: 0;
}

.calendarView {
	margin: 0;
	padding: 0;
	border-spacing: 0;
}

.dayRow {
	font-size: 13px;
	font-variant: small-caps;
	font-weight: bold;
	text-align: center;
	background-color: #dddddd;
}

.calendarCell {
	border: thin solid gray;
}

.calendarCell:hover {
	background-color: #ddd;
}

.calendarCellHeader {
	text-align: right;
	font-weight: bold;
	font-size: 12px;
}

.monthPanel {
	text-align: center;
	border-spacing: 10px;
	margin: 0 auto;
}

.monthLabel {
	font-weight: bold;
	font-size: 20px;
}

.eventLabel {
	font-size: 9px;
	color: green;
}

.color1 {
	color: #ff0000;
}

.color2 {
	color: #ff7f00;
}

.color3 {
	color: #0000ff;
}

.color4 {
	color: #996633;
}

.color5 {
	color: #ffff00;
}

.color6 {
	
	color: #ff00ff;
}

.color7 {
	color: #00ffff;
}

.color8 {
	color: #00ff00;
}

.color9 {
	color: #7f007f;
}

